.b-green {
  border-color: $green !important;
}

.b-fff {
  border-color: #fff !important;
}

.b-grey-1 {
  border-color: $grey-1 !important;
}

.b-grey-2 {
  border-color: $grey-2 !important;
}

.b-grey-3 {
  border-color: $grey-3 !important;
}

.b-black {
  border-color: $black !important;
}

.b-white {
  border-color: $white !important;
}

.b-red {
  border-color: $red !important;
}

.b-blue {
  border-color: $blue !important;
}

.b-yellow {
  border-color: $yellow !important;
}

.b-dark-red {
  border-color: $dark-red !important;
}

.b-dark-blue {
  border-color: $dark-blue !important;
}

.b-dark-yellow {
  border-color: $dark-yellow !important;
}

.b-facebook {border-color: $facebook !important;}
.b-twitter {border-color: $twitter !important;}
.b-instagram {border-color: $instagram !important;}
.b-google {border-color: $google !important;}

.b-diary { border-color: $diary !important; }
.b-habit { border-color: $habit !important; }
.b-poll { border-color: $poll !important; }
.b-document { border-color: $document !important; }
.b-photos { border-color: $photos !important; }
.b-measurements { border-color: $measurements !important; }
