.checkbox-reset {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  // checkbox-spefic focus state
  .a11y &:focus + label::before {
    box-shadow: 0 0 0 3px $highlight-green;
    opacity: .75;
  }
}

.checkbox + label {
  position: relative;
  padding-left: calc(36px + .75rem);
  line-height: 36px;
  @extend .dib;
  @extend .pointer;
}

/* checkbox aspect */
.checkbox + label:before {
  content: '';
  @extend .bg-fff;
  @extend .w-36px;
  @extend .h-36px;
  @extend .br-100;
  @extend .absolute;
  @extend .top-0;
  @extend .left-0;
  @extend .green;
  @extend .tc;
  @extend .b--solid;
  @extend .bw1;
  @extend .animation-transition;
}
/* checked mark aspect */
.checkbox + label:after {
  content: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMzYgMzYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxLjQxNCI+PHBhdGggZD0iTTI3LjA1MSAxMS41MDFjLjA5MS4wMDYuMTE0LjAwNS4yMDQuMDIxYTEuNDk4IDEuNDk4IDAgMCAxIDEuMjQ0IDEuNTI5IDEuNTEgMS41MSAwIDAgMS0uMzA0Ljg1NWMtLjA1NS4wNzMtLjA3Mi4wODgtLjEzNC4xNTVsLTEyIDEyYy0uMTI3LjExOC0uMjYxLjIyLS40MTguMjk0YTEuNTA5IDEuNTA5IDAgMCAxLTEuMjkzLS4wMDMgMS42NTggMS42NTggMCAwIDEtLjQxNy0uMjk3bC02LTYuMDY5Yy0uMDYxLS4wNjctLjA3OS0uMDgzLS4xMzMtLjE1NWExLjUxNSAxLjUxNSAwIDAgMS0uMjkxLTEuMDYyIDEuNTExIDEuNTExIDAgMCAxIDEuMzQ2LTEuMzMxIDEuNTA0IDEuNTA0IDAgMCAxIDEuMDU4LjMwM2MuMDcyLjA1NS4wODguMDczLjE1NC4xMzVsNC45MzkgNC45OTcgMTAuOTMzLTEwLjkzNC4wNzUtLjA3Yy4wNzEtLjA1Ny4wODctLjA3My4xNjMtLjEyMy4xMTUtLjA3NS4yMzktLjEzNC4zNjktLjE3Ni4wOTktLjAzMS4xOTgtLjA0OC4zMDEtLjA2Mi4xMDItLjAwNy4xMDItLjAwNy4yMDQtLjAwN3oiIGZpbGw9IiNmZmYiLz48L3N2Zz4K");
  @extend .absolute;
  @extend .left-0;
  @extend .top-0;
  @extend .w-36px;
  @extend .h-36px;
  @extend .tc;
  @extend .fff;
  @extend .animation-transition;
  line-height: 36px;
  @extend .scale-0;
}

// Checked
.checkbox:checked + label:after {
  opacity: 1;
  transform: scale(1) translateZ(0);
  transition: $animation-transition;
  transition-delay: .15s;
  -webkit-transition-delay: .15s;
}

.checkbox:checked + label:before {
  border-width: 18px;
}

.checkbox:disabled {
  opacity: .1;
  cursor: not-allowed;
}

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}
