a {
  color: inherit;
  transition: $hover-transition;
  p {
    font-weight: 400;
  }
}

.text-link {
  border-bottom: 3px solid $highlight-green;

  &:hover
  {
    background-color: $highlight-green;
    text-decoration: none;
  }
}

.arrow {
  &:after {
    content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCA4IDE1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHN0eWxlPSJmaWxsOnJnYmEoNjAsIDYwLCA2MywgMSk7ZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjEuNDE0MjE7Ij4KICAgIDxnIHRyYW5zZm9ybT0ibWF0cml4KDEsMCwwLDEsLTMuNSwwKSI+CiAgICAgICAgPHBhdGggZD0iTTUuMDUyLDAuMDAxQzUuMTY1LDAuMDA4IDUuMjc1LDAuMDIxIDUuMzg0LDAuMDVDNS41NzQsMC4xIDUuNzU0LDAuMTg4IDUuOTEsMC4zMDdDNS45NzcsMC4zNTkgNi4wMzcsMC40MTYgNi4wOTcsMC40NzdDNy44MzcsMi40NSA5LjQ2OCw0LjUxOCAxMS4xNTIsNi41NEMxMS4yNTYsNi42NzIgMTEuMzQzLDYuODEyIDExLjQwMyw2Ljk3QzExLjUzMSw3LjMwOSAxMS41MzEsNy42OTEgMTEuNDAzLDguMDNDMTEuMzU0LDguMTYyIDExLjI4NCw4LjI4IDExLjIwNCw4LjM5NUM5LjU3NiwxMC40NjIgNy44MzcsMTIuNDM5IDYuMTUyLDE0LjQ2QzYuMDk2LDE0LjUyNCA2LjA0LDE0LjU4NSA1Ljk3NSwxNC42NEM1LjgwNSwxNC43ODYgNS42MDEsMTQuODkyIDUuMzg0LDE0Ljk1QzQuODYxLDE1LjA4OCA0LjI5MSwxNC45MjggMy45MTcsMTQuNTM4QzMuODIsMTQuNDM2IDMuNzM3LDE0LjMyMSAzLjY3MiwxNC4xOTdDMy41OTQsMTQuMDQ4IDMuNTQxLDEzLjg4NiAzLjUxNiwxMy43MTlDMy40ODcsMTMuNTI1IDMuNDk3LDEzLjMyNSAzLjU0NSwxMy4xMzVDMy41ODYsMTIuOTcyIDMuNjU1LDEyLjgxNSAzLjc0NywxMi42NzVDMy43ODksMTIuNjEyIDMuODAxLDEyLjU5OCAzLjg0OCwxMi41NEw4LjA0Nyw3LjVMMy44NDgsMi40NkwzLjc5NiwyLjM5NEMzLjc1MywyLjMzMyAzLjc0MSwyLjMxOCAzLjcwMywyLjI1NEMzLjYxOSwyLjEwOCAzLjU1OSwxLjk0OCAzLjUyNywxLjc4M0MzLjQzNiwxLjMxIDMuNTgzLDAuODEgMy45MTcsMC40NjJDNC4wMTQsMC4zNjEgNC4xMjUsMC4yNzQgNC4yNDYsMC4yMDNDNC4zOTIsMC4xMTkgNC41NTIsMC4wNTkgNC43MTcsMC4wMjdDNC43OSwwLjAxMyA0LjgwOSwwLjAxMiA0Ljg4NCwwLjAwNUM0Ljk2OCwwIDQuOTY4LDAgNS4wNTIsMC4wMDFaIi8+CiAgICA8L2c+Cjwvc3ZnPgo=");
    width: .3em;
    height: .3em;
    margin-left: .2em;
    display: inline-block;
    transition: $hover-transition;
  }
  &:hover:after {
    transform: translateX(.1em);
  }
}

.arrow-dark-green {
  &:after {
    content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCA4IDE1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHN0eWxlPSJmaWxsOnJnYmEoOCwgMTQ4LCA3MSwgMSk7ZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjEuNDE0MjE7Ij4KICAgIDxnIHRyYW5zZm9ybT0ibWF0cml4KDEsMCwwLDEsLTMuNSwwKSI+CiAgICAgICAgPHBhdGggZD0iTTUuMDUyLDAuMDAxQzUuMTY1LDAuMDA4IDUuMjc1LDAuMDIxIDUuMzg0LDAuMDVDNS41NzQsMC4xIDUuNzU0LDAuMTg4IDUuOTEsMC4zMDdDNS45NzcsMC4zNTkgNi4wMzcsMC40MTYgNi4wOTcsMC40NzdDNy44MzcsMi40NSA5LjQ2OCw0LjUxOCAxMS4xNTIsNi41NEMxMS4yNTYsNi42NzIgMTEuMzQzLDYuODEyIDExLjQwMyw2Ljk3QzExLjUzMSw3LjMwOSAxMS41MzEsNy42OTEgMTEuNDAzLDguMDNDMTEuMzU0LDguMTYyIDExLjI4NCw4LjI4IDExLjIwNCw4LjM5NUM5LjU3NiwxMC40NjIgNy44MzcsMTIuNDM5IDYuMTUyLDE0LjQ2QzYuMDk2LDE0LjUyNCA2LjA0LDE0LjU4NSA1Ljk3NSwxNC42NEM1LjgwNSwxNC43ODYgNS42MDEsMTQuODkyIDUuMzg0LDE0Ljk1QzQuODYxLDE1LjA4OCA0LjI5MSwxNC45MjggMy45MTcsMTQuNTM4QzMuODIsMTQuNDM2IDMuNzM3LDE0LjMyMSAzLjY3MiwxNC4xOTdDMy41OTQsMTQuMDQ4IDMuNTQxLDEzLjg4NiAzLjUxNiwxMy43MTlDMy40ODcsMTMuNTI1IDMuNDk3LDEzLjMyNSAzLjU0NSwxMy4xMzVDMy41ODYsMTIuOTcyIDMuNjU1LDEyLjgxNSAzLjc0NywxMi42NzVDMy43ODksMTIuNjEyIDMuODAxLDEyLjU5OCAzLjg0OCwxMi41NEw4LjA0Nyw3LjVMMy44NDgsMi40NkwzLjc5NiwyLjM5NEMzLjc1MywyLjMzMyAzLjc0MSwyLjMxOCAzLjcwMywyLjI1NEMzLjYxOSwyLjEwOCAzLjU1OSwxLjk0OCAzLjUyNywxLjc4M0MzLjQzNiwxLjMxIDMuNTgzLDAuODEgMy45MTcsMC40NjJDNC4wMTQsMC4zNjEgNC4xMjUsMC4yNzQgNC4yNDYsMC4yMDNDNC4zOTIsMC4xMTkgNC41NTIsMC4wNTkgNC43MTcsMC4wMjdDNC43OSwwLjAxMyA0LjgwOSwwLjAxMiA0Ljg4NCwwLjAwNUM0Ljk2OCwwIDQuOTY4LDAgNS4wNTIsMC4wMDFaIi8+CiAgICA8L2c+Cjwvc3ZnPgo=");
    width: .3em;
    height: .3em;
    margin-left: .2em;
    display: inline-block;
    transition: $hover-transition;
  }
  &:hover:after {
    transform: translateX(.1em);
  }
}

.disabled {
  opacity: .5;
  pointer-events: none;
  cursor: not-allowed;
}
