{{> navbar class="js-nav fixed top-0" }}
<style>
  #services {
    color: rgba(139, 197, 65, 1)!important;
  }
</style>

{{> home-hero }}

<div class="container pv4">

  <div class="mw6 center">

    {{> heading-2 text="Какво представлява?"}}

    {{> paragraph text="Консултацията на BB-Team е удобен начин да намериш отговорите на въпросите си и да намериш помощ в подобряването на хранителните си навици и / или тренировъчната си програма."}}

    {{> heading-2 text="За кого (не) е подходяща?"}}

    {{> paragraph text="Вярваме, че ще може да ти помогнем и ще се радваме да го направим. Обаче, не е възможно да направим сбит преразказ на сайта ни в рамките на една консултация. Не бихме ти били полезни, ако търсиш това."}}

    {{> paragraph text="Горещо препоръчваме да се запознаеш с ръководствата ни за начинаещи (линк), преди да проведем консултацията."}}

    {{> heading-2 text="Как протича?"}}


    {{> paragraph text="Консултацията протича онлайн посредством нашия сайт. Стъпките са следните:" }}

  </div>

    <div class="row mb3">
      <div class="col-12 col-sm-6 col-lg-3 flex">
        {{> card heading="1. Заяви консултацията си и направи съответното плащане." class="mb2" image="/assets/toolkit/images/service-1.svg" width="200px"}}
      </div>
      <div class="col-12 col-sm-6 col-lg-3 flex">
        {{> card heading="2. Попълни въпросите, които имаме към теб." class="mb2" image="/assets/toolkit/images/service-2.svg" width="200px"}}
      </div>
      <div class="col-12 col-sm-6 col-lg-3 flex">
        {{> card heading="3. Екипът ни ще се запознае детайлно с тях и ще подготви следващите стъпки." class="mb2" image="/assets/toolkit/images/service-3.svg" width="200px"}}
      </div>
      <div class="col-12 col-sm-6 col-lg-3 flex">
        {{> card heading="4. Ще направим обратен контакт в удобен за теб момент и ще обсъдим случая ти и с какво ще може да ти бъдем полезни." class="mb2" image="/assets/toolkit/images/service-4.svg" width="200px"}}
      </div>
    </div>

  <div class="mw6 center">
    {{> heading-2 text="Колко струва?"}}

    {{> paragraph text="Консултацията струва 100 лв. Всяка следваща е на цена от 60 лв."}}

    <p><em>(Всички посочени цени са с включено ДДС)</em></p>
  </div>


  </div>

{{> footer }}
