{{> navbar class="js-nav fixed top-0" }}

<!-- Container -->
<div class="container compensate-nav">

  <div class="row mw6 center">
    {{#iterate 8}}
    <div class="col-12">
      <div class="bg-fff shadow br1 shadow-states mb3 pt3">
        <h1 class="f2 fw7 lh-title db mb2 ph3">A</h1>
        <ul>
          {{#iterate 5}}
            <li>
              <a href="#" class="states-bg w-100 db ph3 pv2">Линк към съдържание</a>
            </li>
          {{/iterate}}
        </ul>
      </div>
    </div>
    {{/iterate}}
  </div>

</div>
{{> footer }}
