{{> navbar class="js-nav fixed top-0" }}
<!-- Active item -->
<style>
  #read {
    color: rgba(139, 197, 65, 1)!important;
  }
</style>

<!-- Container -->
{{> breadcrumbs class="compensate-nav"}}

<div class="container">

  {{> inline-image class="center db mb4"}}
  <main class="mb4 longform mw6 center relative">

    <div class="mb3">
      {{> heading-1 }}
      {{> subheading }}
    </div>
    {{> author-block class="mb3 center"}}
    {{> inline-article-nav class="dn js-articleNav mb3 w-100 fl-sm w-50-sm w-20-lg mr3-sm fixed-lg left-0-lg top-25-lg left-self-lg" }}
    {{#iterate 3}}
      {{> paragraph }}
    {{/iterate}}


    {{> table class="w-screen"}}


    {{> heading-2 }}
    {{> left-image }}
    {{> paragraph }}
    {{> step-by-step }}
    {{#iterate 3}}
      {{> heading-3 }}
      {{> paragraph }}
    {{/iterate}}
    {{> sharable-quote }}
    {{> inline-image }}
      {{#iterate 2}}
      {{> paragraph }}
    {{/iterate}}
    {{> ordered-list }}
    {{> right-image }}
    {{> paragraph }}
    {{#iterate 2}}
    {{> paragraph }}
    {{/iterate}}
    {{> footnotes }}


    </main>

      <div class="row mb3" id="hello">
        <div class="col-12 col-md-6 flex mb3">{{> author-bio class="w-100" }}</div>
        <div class="col-12 col-md-6 flex mb3">{{> subscribe-block class="w-100" }}</div>
      </div>

      {{> share-incentive class="mb3" }}

      {{> swiper }}

        {{> comment-block class="center mw6"}}

    </div>

</div>
{{> footer }}
